/* @import './base.css'; */

body {
	height: 4759px; 
	background-color: rgba(229, 229, 229, 1);
}

.wrapper {
	width: 1444px;
	max-width: 80%;
	padding-left: 29px; 
	padding-right: 29px;
	margin-left: auto;
	margin-right: auto; 
}
